/*通用样式*/
*{
    margin: 0;
    padding: 0;
    text-decoration:none;
}
#header a:hover{
    color: coral;
}
li{
    list-style: none;
}
.wrapper{
    width: 1230px;
    height: 100%;
    margin: 0 auto;
}