/*index.html的样式*/
#header{
    height: 32px;
    font-size: 12px;
    background: #f2f2f2;
    line-height: 32px;
    border-bottom: 1px solid #e5e5e5;
}
#logo{
    float: left;
}
#quick-menu{
    float: right;
}
#quick-menu .menu{
    float: left;
    position: relative;
    padding: 0 14px;
    height: 33px;
}
#quick-menu .submenu{
    position: absolute;
    width: 90px;
    display: none;
    background: #ffffff;
}
#header a,#header em{
    color: #999999;
}
/*#header a{*/
    /*padding: 0 14px;*/
/*}*/
.register,.login{
    padding: 0 14px;
}
#header .triangle::after{
    content: '';
    border-width:3px;
    border-style: solid;
    border-top-color: #cccccc;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    width: 0;
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -2px;
    -webkit-transition:none ;
    -moz-transition:none;
    -ms-transition:none;
    -o-transition: none;
    transition:none;
    transform-origin: 3px 1.5px;
}
#header .triangle:hover::after{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition:transform .5s  ease;
    -moz-transition: transform .5s  ease;
    -ms-transition:transform .5s  ease;
    -o-transition:transform .5s  ease;
    transition: transform .5s  ease;
}
#header .triangle{
    border-style: solid;
    border-color: transparent;
    border-width: 0 1px 0 1px;
}
#header .triangle:hover{
    background-color: #fff;
    border-color: #e5e5e5;
    cursor: pointer;
}
#header .triangle:hover >a{
    text-decoration: underline;
    color: #ff0036;
}
#header .triangle:hover .submenu{
     display: block;
 }
#quick-menu .submenu a:hover{
    text-decoration: underline;
}
#quick-menu .submenu{
    position: absolute;
    top: 32px;
    left: -1px;
    width: 74px;
    /*font-size: 12px;*/
    border-style: solid;
    border-color: #e5e5e5;
    border-width: 0 1px 1px 1px;
    padding: 0 14px;
    display: none;
}
#quick-menu .collect{
    position: absolute;
    top: 32px;
    left: -1px;
    width: 74px;
    background: #ffffff;
    border-color: #e5e5e5;
    border-style: solid;
    border-width:0 1px 1px 1px;
    padding: 0 14px;
    display: none;
}
#header .triangle:hover .collect{
    display: block;
}
#quick-menu .collect a:hover{
    text-decoration: underline;
}
#header .triangle:hover >a{
    text-decoration: underline;
    color: #ff0036;
}
/*}*/
#header .triangle:hover >a{
    text-decoration: underline;
    color: #ff0036;
}

#quick-menu .splite{
    width: 1px;
    height: 14px;
    padding: 0;
    background:#cccccc;
    margin: 9px 5px;
}
#quick-menu .qr-code {
    width: 175px;
    height: 227px;
    border: 1px solid #e5e5e5;
    position: absolute;
    top:28px;
    left: -39px;
    background: #ffffff;
    box-shadow: 0 0 5px #aaaaaa;
    display: none;
}
#quick-menu .qr-code::after{
    content: '';
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    left: 85px;
}
#quick-menu .mobile:hover .qr-code{
    display: block;
}
/*     header结束     */

/*logo-search开始*/
#logo-search{
    height: 135px;
}
.logo,.search{
    float: left;
}
.logo img{
    width: 240px;
    height: 130px;
}
#logo-search .search{
    margin-top: 35px;
    margin-left: 75px;
}
.search .search-box{
    width: 650px;
    height: 38px;
    border: 3px;
    border-style: solid;
    border-color: #ff0036;
}
.search .search-ipt {
    width: 491px;
    height: 36px;
    outline: none;
    /*border: none;*/
    border: 2px;
    text-indent: 10px;
    /*width: 36px;*/
}
.search .search-but{
    width: 132px;
    height: 38px;
    float: right;
    background: #ff0036;
    color: #f2f2f2;
    border: none;
    /*width: 36px;*/
}
.search .hot{
    float: left;
    padding: 10px 10px 10px 1px;
    margin: 9px;
    /*margin-top: 7px;*/
    font-size: 14px;
}
.hot-query .hot {
    border-right: 1px solid #cccccc;
    line-height: 2px;
}
.hot-query .hot a{
    color: #cccccc;
}
.search .change a{
    color: #ff0036;
}
.hot-query .last{
    border: none;
}
/*logo-search结束*/

/*main-nav开始*/
#main-nav .nav{
    margin-left: 200px;
    height: 35px;
}
#main-nav .nav li{
    float: left;
    height: 35px;
    line-height: 35px;
    margin-right: 15px;
}
#main-nav img{
    width: 100px;
}
#main-nav .nav a{
    font-size:16px;
    color: #333333;
    font-weight: 500;
}
#main-nav .nav a:hover{
    color: #ff0036;
}
#banner .category-type{
    width: 200px;
    height: 536px;
}
/*main-nav结束*/

/*banner开始*/
#banner{
    background-color: #e8e8e8;
}
#banner .wrapper{
    height: 500px;
    background: url("../img/banner-bg.jpg");
    position: relative;
}

#banner .category-type{
    width: 200px;
    height: 536px;
    background-color: rgba(0,0,0,.55);
    position: absolute;
    top: -36px;
}
#banner .category-type li{
    height: 36px;
    padding-left: 10px;
    line-height: 36px;
}
#banner .category-type span,#banner .category-type i{
    color: #ffffff;
}
#banner .product-type{
    background-color: #ff0036;
}
